/* Main */
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    width: 600px;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.8;
    z-index: -1;
}

.main .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
}

.main .section1 img {
    color: white;
    height: 25px;
    width: 25px;
}

.main .section1 p {
    color: white;
    font-family: 'Roboto-Regular';
    margin-left: 10px;
}

.main .section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
}

.main .section2 img {
    color: white;
    height: 25px;
    width: 25px;
}

.main .section2 p {
    color: white;
    font-family: 'Roboto-Regular';
    margin-left: 10px;
}

.main img {
    width: 600px;
}
/* Main */